$primary: #bae8e8;
$secondary: #272343;
$dark: #495057;
$light: #f1f1f1;

$font-family-sans-serif: "Roboto", sans-serif;

$enable-negative-margins: true;

// PAGINATION
$pagination-bg: $secondary;
$pagination-active-color: $secondary;
$pagination-active-border-color: $secondary;
